@font-face {
  font-family: "Playfair";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Black.woff") format("woff"), url("../fonts/Raleway/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 120%;
  font-weight: 500;
  color: #104235;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 110%;
  font-style: normal;
  color: #fff;
  background: linear-gradient(87.43deg, #007F5F 37.58%, #AACC00 102.93%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  transform: scale(1.03);
}
.button--back {
  background: #FFBD00;
  color: #104235;
}
.button--effect {
  position: relative;
  overflow: hidden;
}
.button--effect:hover {
  transform: none;
}
.button--effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  background: linear-gradient(to right top, transparent 29%, rgba(255, 255, 255, 0.8) 29% 32%, transparent 32% 35%, rgba(255, 255, 255, 0.8) 35% 40%, transparent 42% 45%, rgba(67, 66, 66, 0.7) 45% 55%, transparent 55% 58%, rgba(255, 255, 255, 0.8) 58% 61%, transparent 61%);
  opacity: 0.3;
  left: 0;
  top: 0;
  transition: 0.8s;
  z-index: 3;
  -webkit-animation: toRight 6s infinite;
  animation: toRight 6s infinite;
}

.input {
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(16, 66, 53, 0.5);
  border-radius: 15px;
  background: #fff;
  color: #104235;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.input:focus {
  outline: none;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

@-webkit-keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section {
  max-width: 1920px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 115%;
  text-align: center;
  margin: auto;
}

.container {
  max-width: 1580px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@-webkit-keyframes fadeInDown1 {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes fadeInDown1 {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  padding-top: 18px;
  padding-bottom: 18px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 47.85%, rgba(255, 255, 255, 0) 100%);
  margin-bottom: -120px;
  position: relative;
  z-index: 1;
}
.header--thanks__button {
  display: none;
}
.header--thanks .header__box, .header--thanks .header__tel {
  display: none;
}
.header--thanks .header--thanks__button {
  display: block;
}
.header__close {
  display: none;
}
.header__tel {
  display: none;
}
.header__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #104235;
}
.header__box__text {
  font-family: "Playfair", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin-bottom: 5px;
}
.header__button {
  background: #FFBD00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 260px;
}

.main {
  height: 100vh;
  max-height: 1400px;
  min-height: 600px;
  background: url(../img/bg.png) no-repeat center/cover;
  position: relative;
  overflow: hidden;
  padding-top: 136px;
  padding-bottom: 126px;
}
.main--thanks__text {
  display: none;
  width: 100%;
  max-width: 744px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 45%;
  z-index: 3;
}
.main--thanks .main--thanks__text {
  display: block;
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}
.main--thanks .main__text-bg {
  font-size: 140px;
  line-height: 110%;
  color: #FFFFFF;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
  opacity: 1;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-animation: fadeInDown1 1s;
  animation: fadeInDown1 1s;
}
.main--thanks h1, .main--thanks .main__wrap {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.main__footer {
  width: 100%;
}
.main__footer__card {
  display: flex;
  align-items: flex-start;
}
.main__footer__card__img {
  position: relative;
  z-index: 2;
  margin-right: -40px;
}
.main__footer__card__text {
  padding: 7px 50px;
  min-width: 160px;
  background: linear-gradient(90deg, #FFBD00 23.72%, rgba(255, 189, 0, 0) 95.61%);
  font-family: "Playfair";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  margin-top: 8px;
  position: relative;
  z-index: 1;
}
.main__wrap {
  max-width: 608px;
  margin: 30px 0;
}
.main__text-m {
  display: none;
  margin-bottom: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #104235;
}
.main__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 36px;
}
.main__button {
  width: 296px;
  display: block;
  margin: auto;
  padding: 18px 0;
}
.main__title {
  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 63px;
  line-height: 120%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.main__title span {
  color: #D5FF00;
}
.main__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
.main__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  top: 33%;
  min-height: 67%;
  max-width: none;
}
.main__img--thanks {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.main__text-bg {
  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 170px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.25;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.modal {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}
.modal__container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.modal-l__buttons {
  width: 100%;
  max-width: 534px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.modal-l__button {
  width: calc(50% - 10PX);
}
.modal-l__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.modal-l__box {
  max-width: 574px;
  margin: auto;
  margin-bottom: 100px;
}
.modal-l__title {
  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  color: #007F5F;
  max-width: 666px;
  margin: auto;
  margin-bottom: 45px;
}
.modal-l__dialog {
  width: 100%;
  max-width: 1126px;
  background: url(../img/modal/bg.png) no-repeat center/cover, #fff;
  position: relative;
  padding: 120px 10px;
  text-align: center;
}
.modal-m__button {
  width: 260px;
}
.modal-m__box {
  max-width: 575px;
  margin: auto;
  margin-bottom: 45px;
  width: 100%;
}
.modal-m__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #AACC00;
  margin-bottom: 30px;
}
.modal-m__title {
  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  color: #007F5F;
  margin-bottom: 15px;
}
.modal-m__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.modal-m__dialog {
  width: 100%;
  max-width: 1126px;
  background: url(../img/modal/bg.png) no-repeat center/cover, #fff;
  position: relative;
  padding: 140px 10px;
  text-align: center;
}
.modal-q__label {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 50px;
  margin: 10px;
  width: 100%;
  max-width: 250px;
}
.modal-q__label__text {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #104235;
  text-align: left;
}
.modal-q__radio {
  display: none;
}
.modal-q__radio:checked + .modal-q__ok {
  background: #FFBD00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #FFBD00;
}
.modal-q__ok {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(16, 66, 53, 0.5);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.modal-q__buttons {
  width: 100%;
  max-width: 534px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.modal-q__button {
  width: 257px;
}
.modal-q__box {
  width: 100%;
  max-width: 645px;
  margin: auto;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.modal-q__title {
  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  color: #007F5F;
  margin-bottom: 45px;
}
.modal-q__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #AACC00;
  margin-bottom: 50px;
}
.modal-q__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.modal-q__dialog {
  width: 100%;
  max-width: 1126px;
  background: url(../img/modal/bg.png) no-repeat center/cover, #fff;
  position: relative;
  padding: 70px 10px;
  text-align: center;
}

@media screen and (max-width: 1850px) {
  .main--thanks .main__text-bg {
    font-size: 100px;
  }
}
@media screen and (max-width: 1600px) {
  .main {
    padding-bottom: 60px;
  }
  .main__text-bg {
    font-size: 145px;
    transform: translate(-50%, -25%);
  }
}
@media screen and (max-width: 1400px) {
  .main {
    padding-bottom: 40px;
  }
  .main--thanks .main__text-bg {
    font-size: 80px;
  }
  .main__text-bg {
    font-size: 125px;
  }
}
@media screen and (max-width: 1200px) {
  .modal-m__dialog, .modal-l__dialog {
    max-width: 950px;
  }
  .main {
    padding-top: 110px;
  }
  .main--thanks__text {
    font-size: 22px;
    max-width: 600px;
  }
  .main--thanks .main__text-bg {
    font-size: 60px;
  }
  .main__text {
    font-size: 28px;
  }
  .main__title {
    font-size: 40px;
  }
  .main__footer__card__text {
    font-size: 16px;
    padding: 8px 35px 8px 42px;
  }
  .main__text-bg {
    font-size: 100px;
  }
  .header__text {
    font-size: 28px;
  }
}
@media screen and (max-width: 991px) {
  .modal-l__dialog {
    padding: 60px 10px;
  }
  .modal-l__buttons {
    max-width: 490px;
  }
  .modal-l__box {
    max-width: 535px;
  }
  .modal-l__title {
    max-width: 610px;
  }
  .modal-m__dialog, .modal-l__dialog {
    max-width: 700px;
  }
  .modal-q__box {
    margin-bottom: 60px;
    max-width: 570px;
  }
  .modal-q__text {
    margin-bottom: 30px;
  }
  .modal-q__title {
    margin-bottom: 25px;
  }
  .modal-q__dialog {
    padding: 40px 20px;
  }
  .header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%);
  }
  .header--thanks .header__close {
    display: block;
  }
  .header--thanks .header--thanks__button {
    display: none;
  }
  .main {
    height: auto;
    padding-top: 82px;
    padding-bottom: 30px;
    min-height: 0;
    max-height: none;
  }
  .main--thanks .main__wrap {
    display: none;
  }
  .main--thanks__text {
    font-size: 18px;
    max-width: 500px;
  }
  .main--thanks .main__text-bg {
    font-size: 50px;
  }
  .main__title {
    margin-bottom: 180px;
  }
  .main__wrap {
    margin: 0;
    margin-bottom: 60px;
  }
  .main__footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__text-bg {
    font-size: 80px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -82px;
  }
  .header__box {
    display: none;
  }
  .header__tel {
    display: block;
  }
  .header__text {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 767px) {
  .button {
    font-size: 18px;
    padding: 18px 0;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .input {
    font-size: 16px;
  }
  .modal-l__close {
    top: 10px;
    right: 10px;
    width: 20px;
  }
  .modal-l__button {
    width: 100%;
  }
  .modal-l__button:last-child {
    margin-bottom: 15px;
  }
  .modal-l__buttons {
    display: flex;
    flex-direction: column-reverse;
    max-width: 400px;
  }
  .modal-l__box {
    margin-bottom: 35px;
    max-width: 400px;
  }
  .modal-l__title {
    font-size: 20px;
    margin-bottom: 25px;
    max-width: 450px;
  }
  .modal-l__dialog {
    max-width: 555px;
    padding: 25px 10px 110px;
  }
  .modal-m__button {
    width: 100%;
    max-width: 400px;
  }
  .modal-m__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .modal-m__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .modal-m__box {
    max-width: 400px;
  }
  .modal-m__close {
    top: 10px;
    right: 10px;
    width: 20px;
  }
  .modal-m__dialog {
    padding: 100px 10px;
    max-width: 555px;
  }
  .modal-q__button {
    width: 100%;
    max-width: 280px;
  }
  .modal-q__button:last-child {
    margin-bottom: 15px;
  }
  .modal-q__buttons {
    flex-direction: column-reverse;
    align-items: center;
  }
  .modal-q__close {
    top: 10px;
    right: 10px;
    width: 20px;
  }
  .modal-q__dialog {
    padding: 25px 10px;
  }
  .modal-q__box {
    flex-direction: column;
    max-width: 195px;
    margin-bottom: 35px;
  }
  .modal-q__ok {
    width: 25px;
    height: 25px;
  }
  .modal-q__label {
    padding-left: 40px;
    width: auto;
  }
  .modal-q__label__text {
    font-size: 18px;
  }
  .modal-q__text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .modal-q__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .main {
    background: url(../img/bgC.png) no-repeat center top;
    padding-bottom: 25px;
  }
  .main--thanks {
    background: url(../img/thanks/bgC.png) no-repeat center top;
  }
  .main--thanks .main__text-bg {
    top: 30%;
  }
  .main--thanks .main__img--thanks--c {
    display: block;
    top: 30%;
    min-width: 100%;
    min-height: 70%;
  }
  .main--thanks .main__text-bg {
    display: block;
  }
  .main__footer__card {
    margin: 5px;
  }
  .main__wrap {
    max-width: 350px;
  }
  .main__button {
    font-size: 18px;
  }
  .main__title {
    font-size: 28px;
  }
  .main__text {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .main__img {
    display: none;
  }
  .main__text-bg {
    display: none;
  }
  .header__text {
    font-size: 16px;
    position: static;
    transform: none;
  }
}
@media screen and (max-width: 575px) {
  .main {
    background: url(../img/bgM.png) no-repeat center 0;
  }
  .main--thanks {
    background: url(../img/thanks/bgM.png) no-repeat center 0;
  }
  .main--thanks .main__text-bg {
    font-size: 40px;
    top: 200px;
  }
  .main--thanks .main--thanks__text {
    top: 260px;
  }
  .main--thanks .main__img--thanks--c {
    display: none;
  }
  .main--thanks .main__img--thanks--m {
    display: block;
    top: 30%;
    min-width: 100%;
    min-height: 70%;
  }
  .main__footer__card {
    width: 100%;
    max-width: 235px;
  }
  .main__footer__card__text {
    width: 100%;
    padding-right: 0;
  }
  .main__text-m {
    display: block;
  }
  .header__text {
    display: none;
  }
}